.footer{
  background-color:#1A1A1A;
  color: #909090;  
}

/*RWD*/
@include mobile{
  .footer{
    padding-top: 16px;
    padding-bottom: 16px;
    .footer-info{
      font-size: 14px;
    }
  }
}


