<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css"> 

  </head>

  <body>
    <div class="header bg-bg-color text-light">     
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="./assets/images/2022-web-layout-training-main/week6-202207/logo.png" class="logo" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light fs-7 ms-md-6 mx-0" aria-current="page" href="#">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light fs-7 ms-md-6 mx-0" href="#">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light fs-7 ms-md-6 mx-0" href="#"><span class="material-icons-outlined me-1">account_circle</span>登入</a>
              </li>             
            </ul>           
          </div>
        </div>
      </nav>
    </div>




    <%- contents %>

    <footer class="footer py-md-4">
     <div class="container footer-info text-center ">
      Coding Home © 2022 All Rights Reserved    
     </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>




</html>